//Colors for dark mode 


$bg_dark : #000000;

$default_dark : #ffffff;
$primary_dark : #a2a2a2;

$secondary-dark: #3d3d3d;
$hover-dark : #292929;






//colors for light mode 


$bg_light : #ffffff;

$default_light: #000000;
$primary_light : #969696;